<div class="page">
<div class="wrapper">
    <h2>Our company was founded in 2021, and our online store became one of the first stores to sell shoes online in Kazakhstan.
        At the moment we specialize in the wholesale and retail of footwear, we are a large company that owns an online store and a physical store, with a single call center.
        The store has ensured the availability of the most advanced models from all over the world, while making the prices very affordable.
    </h2>
</div>
<div class="info">
    <p>
        — There are more than 300 models for every taste and color, 
        updated weekly.
    </p>
    <p>— Unique loyalty system.</p>
    <p>
        — Permanent system of discounts.</p>
    <p>
        — Reasonable prices and excellent quality.</p>
    <p>
        — 100% guarantee of exchange or return within 30 days
        When buyers want something, they want it HERE AND NOW! 
        We are your first assistants in this.</p>  
    </div> 
    <div class="media">
        <img src="https://sneakertown.kz/upload/about/DSC09976.jpg"  width="500" height="400" hspace="15"  alt="">
        <img src="https://sneakertown.kz/upload/about/DSC09973.jpg"  width="500" height="400" alt="" title="This right here is a caption."/>
    </div>
</div>